<section id="header">
    <h3>Filtro Médicos</h3>
</section>

<section id="content">
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Nome Médicos</mat-label>
        <mat-chip-grid #chipGrid [formControl]="formControl">
            <mat-chip-row *ngFor="let name of filter.names" (removed)="removeKeyword(name)">
                {{ name }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        </mat-chip-grid>
        <input [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="add($event)" />
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Especialidade</mat-label>
        <mat-select [(value)]="filter.expertises" multiple>
            <mat-option *ngFor="let expertise of expertises" [value]="expertise.name">
                {{ expertise.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Cidade</mat-label>
        <mat-select [(value)]="filter.counties" multiple>
            <mat-option *ngFor="let county of counties" [value]="county.name">
                {{ county.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</section>

<section id="footer">
    <button mat-dialog-close mat-flat-button>
        Cancelar</button>

    <button (click)="applyFilter()"
        color="primary"
        mat-flat-button>
        Aplicar</button>
</section>