<section id="record">
    <section id="content">
        <button (click)="startRecord()"
            *ngIf="!isRecord"
            [color]="color"
            mat-icon-button>
            <mat-icon>mic</mat-icon>
        </button>

        <span>{{ record }}</span>
        <audio *ngIf="!isRecord && blobUrl" controls>
            <source [src]="blobUrl" type="audio/webm">
        </audio>

        <button (click)="clearRecord()"
            *ngIf="!isRecord && blobUrl"
            color="warn" mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>

        <button (click)="pauseRecord()"
            *ngIf="isRecord"
            color="warn"
            mat-icon-button>
            <mat-icon>pause</mat-icon>
        </button>

        <span id="time"
            *ngIf="isRecord || isPause">{{ time }}</span>

        <button (click)="saveRecord()"
            color="primary"
            *ngIf="isRecord || isPause"
            mat-icon-button>
            <mat-icon>save</mat-icon>
        </button>
    </section>
</section>
