#record {
    #content {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;

        #time {
            font-size: 15px;
            font-weight: 700;
        }
    }
}