<div id="actions">

    <button (click)="openDialogFilters()"
        mat-stroked-button
        color="default"
        *ngIf="!mobileQuery.matches; else elseBlock">Filtrar</button>

    <button (click)="register()"
        color="primary"
        mat-flat-button
        *ngIf="!mobileQuery.matches">Cadastrar Clínica</button>

    <ng-template #elseBlock>
        <button (click)="openDialogFilters()"
            mat-mini-fab
            color="default">
            <mat-icon>filter_alt</mat-icon>
        </button>
    
        <button (click)="register()"
            mat-mini-fab
            color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </ng-template>
</div>

<app-filter [filtersList]="filters"
    (onRemoveFilter)="findClinics()"></app-filter>

<table mat-table [dataSource]="clinics">

    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let clinic">{{ clinic.location }}</td>
    </ng-container>

    <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef>Bairro</th>
        <td mat-cell *matCellDef="let clinic"> {{ clinic.district }} </td>
    </ng-container>

    <ng-container matColumnDef="county">
        <th mat-header-cell *matHeaderCellDef>Cidade</th>
        <td mat-cell *matCellDef="let clinic"> {{ clinic.county.name }} </td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>UF</th>
        <td mat-cell *matCellDef="let clinic"> {{ clinic.county.state }} </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let clinic">
            <button [matMenuTriggerFor]="menu"
                type="button"
                mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button [routerLink]="['/clinicas/detalhe', clinic.id]"
                    mat-menu-item>
                    <mat-icon>info</mat-icon>
                    <span>Detalhar</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>remover</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            Nenhuma clínica encontrada.
        </td>
    </tr>
</table>
<mat-paginator
    (page)="findClinics($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons>
</mat-paginator>