<form id="form-attendant-dialog" [formGroup]="formAttendant" (submit)="save()">
    <h1>Cadastro de Atendente</h1>


    <div class="content">
        <input type="hidden" formControlName="id">

        <mat-form-field id="name" appearance="outline">
            <mat-label>Atendente</mat-label>
            <input matInput placeholder="Nome do Atendente" formControlName="nickname" autocomplete="off">
            <mat-error *ngIf="nickname?.errors?.['required']">Nome do atendente é obrigatório!</mat-error>
        </mat-form-field>

        <div id="contacts">
            <div class="numbers">
                <h4>Telefones</h4>
                <mat-form-field id="contact" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput placeholder="(00) 0 0000-0000" formControlName="contact" autocomplete="off"
                        maxlength="11">

                    <button type="button" color="primary" matSuffix mat-icon-button
                        [disabled]="contact?.invalid" (click)="addContact()">
                        <mat-icon>save</mat-icon>
                    </button>
                    <!-- <mat-error *ngIf="formAttendant.controls.contact.invalid">Telefone inválido!</mat-error> -->
                </mat-form-field>

                <ul>
                    <li *ngFor="let contact of contacts; index as index">
                        <div>
                            {{ contact.number }}
                        </div>
                        <button type="button" class="edit-button" color="accent" mat-icon-button
                            (click)="editContact(index)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="emails">
                <h4>E-mails</h4>
                <mat-form-field id="email" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input formControlName="email" matInput type="email" autocomplete="off">

                    <button type="button" color="primary" matSuffix mat-icon-button
                        [disabled]="email?.invalid" (click)="addEmail()">
                        <mat-icon>save</mat-icon>
                    </button>
                    <mat-error *ngIf="email?.errors?.['required']">E-mail inválido!</mat-error>
                </mat-form-field>

                <ul>
                    <li *ngFor="let email of emails; index as index">
                        <div>
                            {{ email.address }}
                        </div>
                        <button type="button" class="edit-button" color="accent" mat-icon-button
                            (click)="editEmail(index)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <button type="submit" mat-flat-button color="primary">Salvar</button>
    </div>
</form>