#form-attendant-dialog {
    padding: 30px;

    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        grid-gap: 25px;

        #contacts {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 10px;
            max-height: 220px;
            overflow-y: scroll;

            :is(.numbers, .emails) {
                border: 1px dashed #888;
                border-radius: 5px;
                padding: 15px;
                flex: 1 1 auto;
            }

            mat-form-field { width: 100%; }

            ul {
                padding: 0;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #4a4949;
                    padding: 0 10px;
                    border-radius: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .footer {
        display: flex;
        margin-top: 20px;
        justify-content: flex-end;
    }
}