<section id="header">
    <h3>Filtro Médicos</h3>
</section>

<section id="content">
    <mat-form-field color="accent">
        <mat-label>Setor</mat-label>
        <mat-select [(value)]="filter.sectors"
            multiple>
            <mat-option *ngFor="let sector of sectors" [value]="sector">
                {{ sector | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Especialidade</mat-label>
        <mat-select [(value)]="filter.expertises"
            multiple>
            <mat-option *ngFor="let expertise of expertises"
                [value]="expertise.name">
                {{ expertise.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Cidade</mat-label>
        <mat-select [(value)]="filter.counties"
            multiple>
            <mat-option *ngFor="let county of counties" [value]="county.name">
                {{ county.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</section>

<section id="footer">
    <button mat-dialog-close
        mat-flat-button>
        Cancelar</button>

    <button (click)="applyFilter()"
        color="primary"
        mat-flat-button>
        Aplicar</button>
</section>