<div class="header">
    <h5>Clínica</h5>

    <button mat-flat-button color="warn" (click)="editClinic(clinic?.id)">Editar</button>
</div>

<section id="content">
    <div id="clinic-info">
        <div id="location">
            <label>Local</label>
            <span>{{ clinic?.name | titlecase }}</span>
        </div>

        
        <div id="number">
            <label>Telefone</label>
            <div>
                <span>{{ clinic?.contact }}</span>
                <button *ngIf="isValidWhtasappNumber(clinic?.contact)"
                    type="button"
                    color="primary"
                    mat-icon-button
                    (click)="openWhatsapp(clinic?.contact)">
                    <mat-icon svgIcon="whatsapp"></mat-icon>
                </button>
            </div>
        </div>
    </div>

    <h5>Endereço</h5>
    <div id="clinic-detail">
        <div id="uf">
            <label>UF</label>
            <span>{{ clinic?.uf | uppercase }}</span>
        </div>
        <div id="county">
            <label>Município</label>
            <span>{{ clinic?.county | titlecase }}</span>
        </div>
        <div id="district">
            <label>Bairro</label>
            <span>{{ clinic?.district | titlecase }}</span>
        </div>
        <div id="publicPlace">
            <label>Logradouro</label>
            <span>{{ clinic?.publicPlace | titlecase }}</span>
        </div>
        <div id="location">
            <label>Local</label>
            <span>{{ clinic?.name | titlecase }}</span>
        </div>
    </div>

    <h5>Médicos</h5>
    <table mat-table [dataSource]="doctors">

        <ng-container matColumnDef="expertise">
            <th mat-header-cell *matHeaderCellDef width="180px"></th>
            <td mat-cell *matCellDef="let doctor">
                <div class="icon">
                    <img [src]="getIconFromExpertise(doctor.expertise)" />
                    <span>{{ doctor.expertise }}</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="nickname">
            <th mat-header-cell *matHeaderCellDef> Alcunha </th>
            <td mat-cell *matCellDef="let doctor"> {{ doctor.nickname }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let doctor"> {{ doctor.name }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                Nenhum médico encontrado.
            </td>
        </tr>
    </table>
</section>

<section id="footer">
    <button (click)="back()"
        mat-flat-button>Voltar</button>
</section>

