.icon {
    width: 25px;

    img {
        width: 100%;
    }
}

table {
    margin-top: 20px;

    .icon {
        display: flex;
        align-items: center;
        font-size: 10px;
        color: #999999;

        span {
            margin-left: 15px;
        }
    }

    .mat-cell {
        height: 50px;
        text-align: center;
    }
}

#content {
    display: block;
}

#clinic-info {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "location  number";
    justify-content: space-between;

    #location { grid-area: location}
    #number {
        grid-area: number;

        div {
            display: flex;
            align-items: center;
        }
    }
}

#clinic-detail {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "uf county district"
        "publicPlace publicPlace location"
        "observation observation observation";

    #uf { grid-area: uf; }
    #county { grid-area: county; }
    #district { grid-area: district; }
    #publicPlace { grid-area: publicPlace; }
    #location { grid-area: location; }
    #observation { grid-area: observation; }

    @media (max-width: 500px) {
        align-items: start;

        grid-template-areas:
            "uf county"
            "district publicPlace"
            "location location"
            "observation observation";
        
        #county, #publicPlace {
            text-align: right;
        }
    }
}

#clinic-detail,
#clinic-info,
#attendants-info {
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;

    div {
        display: inherit;

        label { font-size: 10px; opacity: .5; }
        span { font-weight: bold; }
    }
}

div.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h5 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
        opacity: .5;
    }
}