<section id="header">
    <h3>Médico</h3>

    <button [routerLink]="['/medicos/cadastro/', doctor.id]"
        mat-stroked-button
        color="accent">Editar</button>
</section>

<section id="content">
    <div id="doctor-info">
        <div id="nickname">
            <label>Alcunha</label>
            <span>{{ doctor.nickname | titlecase }}</span>
        </div>

        <div id="name">
            <label>Nome Completo</label>
            <span>{{ doctor.name | titlecase }}</span>
        </div>

        <div id="expertise">
            <label>Especialidade</label>
            <span>{{ doctor.expertise }}</span>
        </div>

        <div id="birth">
            <label>Nascimento</label>
            <span>{{ doctor.birth }}</span>
        </div>

        <div id="crm">
            <label>CRM</label>
            <span>{{ doctor.crm }}</span>
        </div>

        <div id="sector">
            <label>Setor</label>
            <span>{{ doctor.sector | titlecase }}</span>
        </div>

        <div id="graduationYear">
            <label>Ano Graduação</label>
            <span>{{ doctor.graduationYear }}</span>
        </div>
    </div>

    <h5>Contato</h5>
    <div id="doctor-contact">
        <div>
            <label>Telefone</label>
            <div class="number-section">
                <span>{{ doctor.contact?.number || '' | mask: '(00) 0 0000-0*' }}</span>
                <button *ngIf="isValidWhtasappNumber(doctor.contact?.number)"
                    type="button"
                    color="primary"
                    (click)="openWhatsapp(doctor.contact?.number)"
                    mat-icon-button>
                    <mat-icon svgIcon="whatsapp"></mat-icon>
                </button>
            </div>
        </div>

        <div>
            <label>E-mail</label>
            <div class="email-section">
                <span>{{ doctor.contact?.email }}</span>
                <button (click)="openEmail(doctor.contact?.email)"
                    type="button"
                    color="primary"
                    mat-icon-button>
                    <mat-icon class="material-symbols-outlined">mail</mat-icon>
                </button>
                
            </div>
        </div>
    </div>
    
    <h5>Observação</h5>
    <div id="doctor-observation">
        <span>{{ doctor.observation }}</span>
    </div>

    <h5>Clínicas</h5>
    <div id="doctor-clinics">

        <table mat-table [dataSource]="doctor.clinics">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Clínica</th>
                <td mat-cell *matCellDef="let clinic">{{ clinic.name | titlecase }}</td>
            </ng-container>
        
            <ng-container matColumnDef="uf">
                <th mat-header-cell *matHeaderCellDef>UF</th>
                <td mat-cell *matCellDef="let clinic">{{ clinic.uf }}</td>
            </ng-container>
        
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef>Cidade</th>
                <td mat-cell *matCellDef="let clinic">{{ clinic.county }}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="columns.length">
                    Nenhuma clínica vinculada.
                </td>
            </tr>
        </table>
    </div>
</section>

<section id="footer">
    <button [routerLink]="['/medicos']"
        mat-flat-button>Voltar</button>
</section>