#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h3 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
        opacity: .5;
    }
}

#content {
    display: block;

    h5 {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
        opacity: .5;
    }

    #doctor-info {
        display: grid;
        gap: 15px 10px;
        grid-template-areas:
            "nickname   name    name            expertise"
            "birth      crm     graduationYear  sector";
    
        #nickname { grid-area: nickname }
        #name { grid-area: name }
        #expertise { grid-area: expertise }
        #birth { grid-area: birth }
        #crm { grid-area: crm }
        #sector { grid-area: sector }
        #graduationYear { grid-area: graduationYear }
    }
    
    #doctor-contact {
        display: flex;
        justify-content: space-between;

        .number-section,
        .email-section {
            display: flex;
            align-items: center;
        }
    }

    #doctor-observation {
        min-height: 50px;
    }

    #doctor-clinics {
        table {
            margin-top: 20px;

            th {
                font-size: 10px;
                color: #999999;
            }

            $radius: 10px;
            &, th:first-child {
                border-top-left-radius: $radius;
            }
            
            &, th:last-child {
                border-top-right-radius: $radius;
            }
            
            &, td:first-child {
                border-bottom-left-radius: $radius;
            }
            
            &, td:last-child {
                border-bottom-right-radius: $radius;
            }
        }
    }
    
    #doctor-info,
    #doctor-contact,
    #doctor-observation {    
        border: 1px solid rgba(255, 255, 255, .12);
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 20px;
    
        div {
            display: grid;
    
            label { font-size: 10px; opacity: .5; }
            span { font-weight: bold; }
        }
    }
}

#footer {
    margin-top: 10px;
}