#attendants {
    p { text-align: center ;}
    .header {
        display: flex;
        justify-content: space-between;
    }
    table {
        width: 100%;

        ul  {
            list-style: none;
            padding: 0px;
        }
    }

    mat-paginator,
    table tr {
        background: #303030;
    }
}