<div id="attendants">
    <div class="header">
        <h4>Atendentes</h4>
        <button type="button" mat-button color="primary" (click)="openDialog()">Adicionar</button>
    </div>
    <p *ngIf="isEmpty(attendants); else attendantsTable">Nenhum atendente cadastrado!</p>
    <ng-template #attendantsTable>
        <table id="attendants-table" mat-table [dataSource]="attendants">
            <ng-container matColumnDef="nickname">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let attendant"> {{attendant.nickname | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Contatos</th>
                <td mat-cell *matCellDef="let attendant">
                    <ul>
                        <li *ngFor="let contact of attendant.contacts">
                            {{ contact.number }}
                        </li>
                    </ul>
                </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef width="5%"></th>
                <td mat-cell *matCellDef="let attendant; let i = index">
                    <button type="button" class="edit-button" color="accent" mat-icon-button
                        (click)="openDialog(attendant, i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="attendantsColumns"></tr>
            <tr mat-row *matRowDef="let attendant; columns: attendantsColumns;"></tr>
        </table>
        <mat-paginator #AttendantPaginator *ngIf="attendants.length > 4" pageSize="5" hidePageSize
            showFirstLastButtons>
        </mat-paginator>
    </ng-template>
</div>
