@import "/src/assets/styles/colors.scss";


mat-chip-option.mat-green {
    background-color: $green;
}

mat-chip-option.mat-cyan {
    background-color: $cyan;
}

mat-chip-option.mat-pink {
    background-color: $pink;
}

.icon {
    width: 25px;

    img {
        width: 100%;
    }
}

#actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

table {
    margin-top: 20px;

    $radius: 10px;
    &, th:first-child {
        border-top-left-radius: $radius;
    }

    &, th:last-child {
        border-top-right-radius: $radius;
    }

    .column-name {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-size: 12px;

        .name {
            font-size: 10px;
            color: #818181;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        font-size: 10px;
        color: #999999;

        span {
            margin-left: 15px;
            text-wrap: nowrap;
        }
    }

    .mat-cell {
        height: 50px;
        text-align: center;
    }
}