<div id="actions">
    <button
        mat-stroked-button
        color="default"
        (click)="openFilter()"
        *ngIf="!mobileQuery.matches; else elseBlock">Filtrar</button>
    
    <button
        mat-flat-button
        color="primary"
        (click)="register()"
        *ngIf="!mobileQuery.matches">Cadastrar Médico</button>
    
    <ng-template #elseBlock>
        <button
            mat-mini-fab
            (click)="openFilter()"
            color="default">
            <mat-icon>filter_alt</mat-icon>
        </button>

        <button
            mat-mini-fab
            color="primary"
            (click)="register()">
            <mat-icon>add</mat-icon>
        </button>
    </ng-template>
</div>

<div>
    <section *ngFor="let filter of filtersList">
        <label>{{ filter.type }}</label>
        
        <mat-chip-listbox>
            <mat-chip-option *ngFor="let value of filter.filters"
                [color]="filter.color">
                {{ value }}
                <button (click)="removeFilter(filter.filters, value)"
                    matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-option>
        </mat-chip-listbox>
    </section>
</div>

<table mat-table [dataSource]="doctors">

    <ng-container matColumnDef="expertise">
        <th mat-header-cell *matHeaderCellDef width="180px"></th>
        <td *matCellDef="let doctor"
            [routerLink]="['/medicos/detalhe', doctor.id]"
            mat-cell>
            <div class="icon">
                <img [src]="getIconFromExpertise(doctor.expertise)" />
                <span>{{ doctor.expertise }}</span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td *matCellDef="let doctor"
            [routerLink]="['/medicos/detalhe', doctor.id]"
            mat-cell>
            <div class="column-name">
                <span class="nickname">{{ doctor.nickname | titlecase }}</span>
                <span class="name">{{ doctor.name| titlecase }}</span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td *matCellDef="let doctor"
            mat-cell> {{ doctor.weight }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            Nenhum médico encontrado.
        </td>
    </tr>
</table>
<mat-paginator
    (page)="findDoctors($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons>
</mat-paginator>