#visit-observation {

    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        flex-direction: row;

        h3 {
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: bold;
            opacity: .5;
        }

        span {
            background: #424242;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 15px;
        }
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: normal;

        #visit-info {
            border: 1px solid rgba(255, 255, 255, .12);
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 20px;
            display: grid;
            gap: 15px 10px;
            grid-template-areas:
                'nickname   name    name'
                'county district    expertise';

            #nickname { grid-area: nickname }
            #name { grid-area: name }
            #expertise { grid-area: expertise }
            #county { grid-area: county }
            #district { grid-area: district }

            div {
                display: grid;
        
                label { font-size: 10px; opacity: .5; }
                span { font-weight: bold; }
            }
        }

        #observation {
            textarea {
                min-height: 200px;
            }
        }
    }

    #footer {
        margin-top: 15px;
        display: flex;
        gap: 10px;
    
        button {
            flex: 1;
        }
    }
}