<section id="visit-observation">
    <section id="header">
        <h3>Visita</h3>
        <span>Dia: {{ visit?.date | date:"dd/MM/yyyy" }}</span>
    </section>
    
    <section id="content">
        <div id="visit-info">

            <div id="nickname">
                <label>Alcunha</label>
                <span>{{ visit?.nickname | titlecase }}</span>
            </div>

            <div id="name">
                <label>Nome Completo</label>
                <span>{{ visit?.name | titlecase }}</span>
            </div>

            <div id="expertise">
                <label>Especialidade</label>
                <span>{{ visit?.expertise }}</span>
            </div>

            <div id="county">
                <label>Cidade</label>
                <span>{{ visit?.county }}</span>
            </div>

            <div id="district">
                <label>Bairro</label>
                <span>{{ visit?.district }}</span>
            </div>
        </div>

        <mat-form-field id="observation" appearance="outline">
            <mat-label>Observação</mat-label>
            <textarea [(ngModel)]="observation"
                matInput
                autocomplete="off">
            </textarea>
        </mat-form-field>

        <app-record [record]="visit?.audioObservation"
            (newRecord)="onAudioRecord($event)"
            (clearRecorded)="onClearRecord()">
        </app-record>
    </section>
    
    <section id="footer">
        <button (click)="navigateBack()"
            mat-stroked-button>Voltar</button>
        <button (click)="save()"
            [disabled]="!isSaved()"
            color="primary"
            mat-flat-button>Salvar</button>
    </section>
</section>