<mat-toolbar color="blue-gray">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Doctorum</span>

    <span id="spacer"></span>

    <!-- <mat-icon class="{{ isOnline ? 'green' : 'red' }}">{{ isOnline ? 'wifi' : 'wifi_off'}}</mat-icon> -->
    <span>{{ userProfile?.firstName }}</span>
    <button [matMenuTriggerFor]="menu"
        mat-icon-button>
        <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="logout()"
            mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container (backdropClick)="close('backdrop')"
    [hasBackdrop]="mobileQuery.matches">
    <mat-drawer #drawer
        (keydown.escape)="close('escape')" disableClose
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="!mobileQuery.matches">
        <app-menu></app-menu>
    </mat-drawer>
    
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

