@import "/src/assets/styles/colors.scss";

#spacer {
  flex: 1 1 auto;
}

mat-toolbar {
    position: fixed;
    z-index: 100;

    .red { color: $red }
    .green { color: $green }
}

mat-drawer-container {
    height: 100%;

    mat-drawer,
    mat-drawer-content {
        margin-top: 64px;
        height: calc(100% - 95px);
    }

    mat-drawer {
        padding: 10px 0;
        width: 295px;
        border: none;
        box-shadow: 3px 1px 6px 0px #212121;

        app-menu { padding: 0;}
    }

    mat-drawer-content {
        padding: 10px 50px;
    }

    #test {
        $size: 400px;
        background-color: $primary;
        height: $size;
        width: $size;
    }
}

@media (max-width: 600px) {
    mat-toolbar {
        font-size: 15px;
    }

    mat-drawer-container {
        mat-drawer,
        mat-drawer-content {
            margin-top: 56px;
            padding: 10px;
            height: calc(100% - 95px);
        }
    }
}