<div id="register-clinic">
    <form [formGroup]="formRegister">
        <h1>Cadastro de Clínica</h1>

        <input type="hidden" formControlName="id">
        <div class="content">
            <div id="address">
                <mat-form-field id="location" appearance="outline">
                    <mat-label>Nome da Clínica</mat-label>
                    <input matInput placeholder="Nome da Clínica" formControlName="location" autocomplete="off">
                    <mat-error *ngIf="location?.errors?.['required']">Nome da clínida é obrigatório!</mat-error>
                </mat-form-field>

                <mat-form-field id="zipcode" appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input matInput inputmode="numeric" placeholder="CEP" formControlName="zipcode">
                </mat-form-field>

                <mat-form-field id="state" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select (selectionChange)="selectState($event.value)"
                        formControlName="state"
                        [compareWith]="compareId">
                        <mat-option>------</mat-option>
                        <mat-option *ngFor="let state of states" [value]="state.id">
                            {{state.uf}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field id="county" appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input matInput autocomplete="off" placeholder="Cidade" formControlName="county"
                        [matAutocomplete]="county">
                    <mat-autocomplete autoActiveFirstOption #county="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let county of counties | async" [value]="county">
                            {{ county.name | titlecase }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="countyF?.invalid">É obrigatório informar uma
                        cidade!</mat-error>
                </mat-form-field>

                <mat-form-field id="district" appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput placeholder="Bairro" formControlName="district">
                </mat-form-field>

                <mat-form-field id="publicPlace" appearance="outline">
                    <mat-label>Endereço</mat-label>
                    <input matInput placeholder="Endereço" formControlName="publicPlace">
                </mat-form-field>

                <mat-form-field id="email" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field id="phone" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput
                        maxlength="11"
                        placeholder="(00) 0 0000-0000"
                        formControlName="phone">
                </mat-form-field>
            </div>

            <section id="location"
                *ngIf="position">
                <iframe
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    [src]="position.url">
                </iframe>

                <button (click)="removePosition()"
                    mat-fab
                    color="accent"
                    *ngIf="validePosition">
                        <mat-icon>wrong_location</mat-icon>
                </button>

                <button (click)="definePosition()"
                    mat-fab
                    color="green"
                    *ngIf="!validePosition">
                    <mat-icon>add_location_alt</mat-icon>
                </button>
            </section>

            <attendants-table [clinicId]="clinicId" [attendants]="attendants"></attendants-table>
        </div>

        <div class="footer">
            <button type="button" mat-flat-button (click)="cancel()">Cancelar</button>
            <button type="button" mat-flat-button color="primary" (click)="save()">{{ clinicId ? 'Atualizar' : 'Salvar' }}</button>
        </div>
    </form>
</div>