@import "/src/assets/styles/colors.scss";

.mat-green {
    background-color: $green;
    color: #fff;
}

#register-clinic {
    display: flex;
    justify-content: center;

    form {
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 2px 2px #292929;
        width: 100%;

        .content {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 25px;

            #address,
            attendants-table {
                flex: 1 1 26%;
                border: 1px dashed gray;
                border-radius: 10px;
                padding: 15px;
            }

            #address {
                display: grid;
                grid-gap: 10px;
                grid-template-areas: 
                "location       location        location"
                "zipcode        state           county"
                "district       publicPlace     publicPlace"
                "email          email           phone";
    
                #location {grid-area: location;}
                #zipcode {grid-area: zipcode;}
                #district {grid-area: district;}
                #publicPlace {grid-area: publicPlace;}
                #county {grid-area: county;}
                #state {grid-area: state;}
                #email {grid-area: email;}
                #phone {grid-area: phone;}
            }

            #doctors,
            #attendants {
                p { text-align: center ;}
                .header {
                    display: flex;
                    justify-content: space-between;
                }
                table { width: 100%; }

                mat-paginator,
                table tr {
                    background: #303030;
                }
            }

            #location {
                width: 100%;
                // position: relative;

                iframe {
                    width: 100%;
                }

                // button {
                //     position: absolute;
                //     bottom: 10px;
                //     right: 0;
                //     left: 0;
                //     margin-left: auto;
                //     margin-right: auto;
                // }
                display: flex;
                flex-direction: column;
                align-items: center;
            }            
        }
        .footer {
            margin-top: 10px;
            text-align: end;
    
            button {
                width: 100px;
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 870px) {
    #register-clinic {
        form {
            .content {

                #address,
                attendants-table {
                    flex-basis: 100%;
                    border: 1px dashed gray;
                    border-radius: 10px;
                    padding: 15px;
                }

                #address {
                    grid-template-areas:
                        "location       location"
                        "zipcode        state"
                        "county         district"
                        "publicPlace    publicPlace"
                        "email          phone";
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #register-clinic {
        form {
            .content {
                #address {
                    grid-template-areas:
                        "location"
                        "zipcode"
                        "state"
                        "county"
                        "district"
                        "publicPlace"
                        "email"
                        "phone";
                }
            }
        }
    }
}