#register-doctor {
    display: flex;
    justify-content: center;

    form {
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 2px 2px #292929;
        width: 100%;
        max-width: 1200px;

        .content {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 25px;

            #doctor {
                flex: 1 1 26%;
                border: 1px dashed gray;
                border-radius: 10px;
                padding: 15px;

                display: grid;
                grid-gap: 10px;
                grid-template-areas:
                    "nickname           name            name            name"
                    "email              email           email           contact"
                    "crm                expertise       expertise       expertise"
                    "graduationYear     graduationYear  birth           birth"
                    "observation        observation     observation     observation";

                #nickname {grid-area: nickname;}
                #name {grid-area: name;}
                #birth {grid-area: birth;}
                #contact {grid-area: contact;}
                #email {grid-area: email;}
                #crm {grid-area: crm;}
                #expertise {grid-area: expertise;}
                #graduationYear {grid-area: graduationYear;}
                #observation {grid-area: observation;}
            }
        }

        #clinics {
            margin-top: 25px;

            .header {
                display: flex;
                justify-content: space-between;
            }

            table {
                .mat-row {
                    text-align: center;
                    height: 50px;
                }
            }
        }

        .footer {
            margin-top: 10px;
            text-align: end;
    
            button {
                width: 100px;
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 870px) {
    #register-doctor {
        form {
            .content {
                #doctor {
                    grid-template-areas:
                    "nickname           nickname"
                    "name               name"
                    "email              email"
                    "contact            contact"
                    "crm                expertise"
                    "graduationYear     birth"
                    "observation        observation";
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #register-doctor {
        form {
            .content {
                #doctor {
                    grid-template-areas:
                    "nickname"
                    "name"
                    "email"
                    "contact"
                    "crm"
                    "expertise"
                    "graduationYear"
                    "birth"
                    "observation";
                }
            }
        }
    }
}