<section id="register-doctor">
    <form [formGroup]="formRegister">
        <h1>Cadastro de Médico</h1>
        <input type="hidden" formControlName="id">

        <div class="content">
            <div id="doctor">
                <mat-form-field id="nickname" appearance="outline">
                    <mat-label>Alcunha</mat-label>
                    <input matInput formControlName="nickname" autocomplete="off">
                </mat-form-field>
    
                <mat-form-field id="name" appearance="outline">
                    <mat-label>Nome Completo</mat-label>
                    <input matInput formControlName="name" autocomplete="off">
                    <mat-error *ngIf="name?.invalid">É obrigatório informar o nome do médico!</mat-error>
                </mat-form-field>
    
                <mat-form-field id="email" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input type="email"
                        matInput
                        formControlName="email"
                        autocomplete="off">
                </mat-form-field>
    
                <mat-form-field id="contact" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput
                        maxlength="16"
                        type="tel"
                        formControlName="contact"
                        mask="(00) 0 0000-0000"
                        placeholder="(00) 0 0000-0000"
                        autocomplete="off">
                </mat-form-field>
    
                <mat-form-field id="crm" appearance="outline">
                    <mat-label>CRM</mat-label>
                    <input matInput formControlName="crm" autocomplete="off">
                </mat-form-field>
    
                <mat-form-field id="expertise" appearance="outline">
                    <mat-label>Especialidade</mat-label>
                    <input matInput formControlName="expertise" autocomplete="off" [matAutocomplete]="expertise">
                    <mat-autocomplete autoActiveFirstOption #expertise="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let expertise of expertises | async" [value]="expertise">
                            {{ expertise.name | titlecase }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
    
                <mat-form-field id="graduationYear" appearance="outline">
                    <mat-label>Ano Graduação</mat-label>
                    <input type="number"
                        inputmode="numeric"
                        matInput
                        formControlName="graduationYear"
                        autocomplete="off">
                </mat-form-field>
    
                <mat-form-field id="birth" appearance="outline">
                    <mat-label>Aniversário</mat-label>
                    <input matInput formControlName="birth" autocomplete="off">
                </mat-form-field>
    
                <mat-form-field id="observation" appearance="outline">
                    <mat-label>Observação</mat-label>
                    <textarea matInput formControlName="observation" autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div id="clinics">
            <section class="header">
                <h2>Clínicas</h2>
                <button (click)="selectClinicDialog()"
                    mat-stroked-button
                    color="accent"
                    type="button">
                    Adicionar
                </button>
            </section>
            <table mat-table [dataSource]="clinics">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Clínica</th>
                    <td mat-cell *matCellDef="let clinic">{{ clinic.location }}</td>
                </ng-container>

                <ng-container matColumnDef="district">
                    <th mat-header-cell *matHeaderCellDef>Bairro</th>
                    <td mat-cell *matCellDef="let clinic">{{ clinic.district }}</td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef>Cidade</th>
                    <td mat-cell *matCellDef="let clinic">{{ clinic.county.name }}</td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="columns.length">
                        Nenhuma clínica vinculada.
                    </td>
                </tr>
            </table>
        </div>

        <div class="footer">
            <button type="button" mat-flat-button (click)="cancel()">Cancelar</button>
            <button type="button" mat-flat-button color="primary" (click)="save()">Salvar</button>
        </div>
    </form>
</section>