section {
    padding: 30px 20px;

    #header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #content {
        mat-expansion-panel div.content {
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            align-items: center;
            gap: 20px;

            mat-form-field {
                flex: 1 1 200px;
            }
        }

        .mat-cell {
            text-align: center;
            height: 45px;
        }

        .btn-filter {
            $size: 18px;
            font-size: $size;
            height: $size;
            width: $size;
        }
    }

    #actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        button {
            width: 115px;
        }
    }
}