<section>
    <div id="header">
        <h2>Clínicas</h2>

        <button [routerLink]="['/clinicas/cadastro']"
            mat-dialog-close
            color="accent"
            mat-flat-button
            type="button">Cadastrar</button>
    </div>
    <mat-divider></mat-divider>

    <div id="content">
        <div>
            <mat-accordion >
                <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Filtros</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="content">
                        <mat-form-field color="accent">
                            <mat-label>Estado</mat-label>
                            <mat-select (selectionChange)="findCounties($event.value)">
                                <mat-option *ngFor="let state of states"
                                    [value]="state.id">
                                    {{ state.uf }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field color="accent">
                            <mat-label>Cidade</mat-label>
                            <mat-select (selectionChange)="selectCounties($event.value)"
                                [disabled]="isEmpty(counties)"
                                multiple>
                                <mat-option *ngFor="let county of counties" [value]="county.id">
                                    {{ county.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <button (click)="filter()"
                            type="button"
                            mat-stroked-button
                            color="accent">Filtrar</button>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <table mat-table [dataSource]="clinics">
            <ng-container matColumnDef="check">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let clinic">
                    <mat-checkbox (change)="selectClinic(clinic, $event.checked)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Clínica</th>
                <td mat-cell *matCellDef="let clinic">{{ clinic.location }}</td>
            </ng-container>
            
            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef>Bairro</th>
                <td mat-cell *matCellDef="let clinic">{{ clinic.district }}</td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef>Cidade</th>
                <td mat-cell *matCellDef="let clinic">{{ clinic.county.name }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    Nenhuma clínica encontrada
                </td>
            </tr>
        </table>
    </div>

    <div id="actions">
        <button mat-dialog-close
            mat-stroked-button>
            Cancelar
        </button>
        <button (click)="close()"
            color="primary"
            mat-flat-button>
            Selecionar
        </button>
    </div>
</section>
