<div id="filter-component">
    <section *ngFor="let filter of filtersList">
        <label>{{ filter.type }}</label>

        <mat-chip-listbox>
            <mat-chip-option *ngFor="let value of filter.filters" [color]="filter.color">
                {{ value.name }}
                <button (click)="removeFilter(filter.filters, value)" matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-option>
        </mat-chip-listbox>
    </section>
</div>