@import "/src/assets/styles/colors.scss";

mat-chip-option.mat-green {
    background-color: $green;
}

mat-chip-option.mat-cyan {
    background-color: $cyan;
}

mat-chip-option.mat-pink {
    background-color: $pink;
}

#filter-component {
    margin: 10px 0;
}