<nav>
    <a [routerLink]="option.router" routerLinkActive="active" *ngFor="let option of options">
        <mat-icon>{{ option.icon }}</mat-icon>
        <span>{{ option.name }}</span>
    </a>
</nav>