@import "/src/assets/styles/colors.scss";

nav {
    cursor: default;
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    a {
        cursor: default;
        padding-left: 10px;
        text-decoration: none;
        color: $white;
        display: flex;
        align-items: center;
        height: 35px;
        margin: 0 10px;

        &:hover {
            background-color: rgba($primary, .9);
        }

        &.active, &:hover {
            background-color: $primary;
            border-radius: 5px;
        }

        span {
            margin-left: 10px;
        }

        mat-icon {
            font-size: 20px;
        }
    }
}