@use '@angular/material' as mat;

@import './theme.scss';


$primary: mat.get-color-from-palette($my-primary);
$accent: mat.get-color-from-palette($my-accent);
$orange: mat.get-color-from-palette(mat.$amber-palette, 700);
$white: mat.get-color-from-palette(mat.$gray-palette, 50);
$red: mat.get-color-from-palette(mat.$red-palette, 400);
$green: mat.get-color-from-palette(mat.$light-green-palette, 400);
$blue-gray: mat.get-color-from-palette(mat.$gray-palette, 800);
$cyan: mat.get-color-from-palette(mat.$cyan-palette, 900);
$pink: mat.get-color-from-palette(mat.$pink-palette, 800);

.mat-blue-gray {
    background-color: $blue-gray;
}

