@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 600, 700, 600);
$my-accent: mat.define-palette(mat.$orange-palette, 900, 700, 900);
$my-warn: mat.define-palette(mat.$red-palette, A700, 700, 900);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn
 ),
 density: 0,
));



@include mat.all-component-themes($my-theme);