<section id="header" #calendar>
    <mat-form-field *ngIf="!mobileQuery.matches"
        appearance="fill">
        <mat-label>Data</mat-label>
        <input [(ngModel)]="selected"
            (dateChange)="loadDate(selected, filter)"
            matInput
            [matDatepicker]="dp3"
            disabled>
        <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3
            [dateClass]="dateClass"
            [calendarHeaderComponent]="calendarHeader"
            [startAt]="selected"
            (monthSelected)="selectMonth($event)"
            disabled="false">
        </mat-datepicker>
    </mat-form-field>

    <mat-card class="calendar"  *ngIf="mobileQuery.matches">
        <mat-calendar 
            [dateClass]="dateClass"
            [headerComponent]="calendarHeader"
            [startAt]="selected"
            [(selected)]="selected"
            (selectedChange)="loadDate(selected, filter)"
            (monthSelected)="selectMonth($event)">
        </mat-calendar>
    </mat-card>

    <button (click)="addSchedule()"
        class="float-button"
        color="primary"
        mat-fab>
        <mat-icon>{{ schedule.id ? 'edit' : 'add' }}</mat-icon>
    </button>
</section>

<section id="content">
    <div id="filter">
        <section *ngFor="let filter of filtersList">
            <label>{{ filter.type }}</label>
    
            <mat-chip-listbox>
                <mat-chip-option *ngFor="let value of filter.filters" [color]="filter.color">
                    {{ value }}
                    <button (click)="removeFilter(filter.filters, value)"
                        matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
            </mat-chip-listbox>
        </section>
    </div>

    <div id="visit-list">
        <table [dataSource]="schedule.visits"
            class="visits-table"
            mat-table>
        
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td (click)="check(visit)" *matCellDef="let visit" mat-cell>
                    <div class="name">
                        <label>{{ visit.nickname }}</label>
                        <span>{{ visit.name }}</span>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="expertise">
                <th mat-header-cell *matHeaderCellDef>Especialidade</th>
                <td (click)="check(visit)" *matCellDef="let visit" mat-cell>
                    <div class="expertise">
                        <img [src]="getIconFromExpertise(visit.expertise)" />
                        <span>{{ visit.expertise }}</span>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>
                    Cidade
                </th>
                <td (click)="check(visit)" *matCellDef="let visit" mat-cell>
                    <div class="location">
                        <label>{{ visit.county }}</label>
                        <span>{{ visit.district }}</span>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="options">
                <th class="header-options" mat-header-cell *matHeaderCellDef>
                    <button (click)="openFilter()" mat-icon-button>
                        <mat-icon>filter_alt</mat-icon>
                    </button>
                </th>
                <td *matCellDef="let visit" mat-cell>
                    <div class="options">
                        <mat-checkbox (click)="check(visit)" [checked]="visit.visited"></mat-checkbox>
                        <button (click)="addObservation(visit)" mat-icon-button>
                            <mat-icon>edit_note</mat-icon>
                        </button>

                        <button (click)="openLocation(visit)"
                            class="btn-location"
                            *ngIf="hasLocation(visit)"
                            mat-icon-button>
                            <mat-icon>location_on</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    Nenhuma visita agendada.
                </td>
            </tr>
        </table>
    </div>
</section>