@import "/src/assets/styles/colors.scss";

button.has-visit-enabled::before {
    content: "";
    background: #1e88e5;
    border-radius: 100%;
    height: 6px;
    width: 6px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    z-index: 10;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: start;

    .float-button {
        $position: 20px;
        bottom: $position;
        right: $position;
        position: fixed;
        z-index: 10;
    }
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

    #filter {
        width: 100%;
        margin: 15px 0;
        
        section {
            margin-top: 10px;
        }

        mat-chip-option.mat-green {
            background-color: $green;
        }
    
        mat-chip-option.mat-cyan {
            background-color: $cyan;
        }
    
        mat-chip-option.mat-pink {
            background-color: $pink;
        }
    }


    mat-divider {
        width: 100%;
        margin: 15px 0;
    }

    #visit-list {
        width: 100%;

        table.visits-table {
            margin-top: 10px;
            background: transparent;

            td {
                padding: 10px 5px;
    
                div {
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: 10px;
                        color: #818181;
                    }
                }
            }

            thead {
                background-color: $blue-gray;
                top: -10px !important;
            }

            .expertise {
                flex-direction: row;
                width: 25px;

                img {
                    width: 100%;
                }
            }

            th.header-options {
                text-align: flex-end;
                padding: 0 0 0 40px;
            }

            .mat-cell {
                height: 50px;
                text-align: center;
            }

            .options {
                flex-direction: row;
                align-items: center;

                .btn-location {
                    color: #dd6359;
                }
            }
        }
    }
}


.bottom-sheet mat-bottom-sheet-container {
    min-width: 70vw;
    $radius: 15px;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@media (max-width: 750px) {
    #header {
        align-items: center;

        .calendar {
            width: 400px;

            button.has-visit-enabled::before {
                content: "";
                background: #1e88e5;
                border-radius: 100%;
                height: 6px;
                width: 6px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                top: 15px;
                z-index: 10;
            }
        }
    }
}