<section id="header">
    <h3>Filtro Clínicas</h3>
</section>

<section id="content">
    <mat-form-field color="accent">
        <mat-label>Especialidade</mat-label>
        <mat-select [(value)]="filter.expertises" multiple>
            <mat-option *ngFor="let expertise of expertises"
                [value]="expertise.name">
                {{ expertise.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Estado</mat-label>
        <mat-select [(value)]="filter.state"
            (selectionChange)="findCounties($event.value.id)"
            [compareWith]="compareId">
            <mat-option *ngFor="let state of states"
                [value]="state">
                {{ state.name | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>Cidade</mat-label>
        <mat-select [(value)]="filter.counties"
            [disabled]="isEmpty(counties)"
            [compareWith]="compareId"
            multiple>
            <mat-option *ngFor="let county of counties"
                [value]="county">
                {{ county.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</section>

<section id="footer">
    <button mat-dialog-close
        mat-flat-button>
        Cancelar
    </button>

    <button (click)="apply()"
        color="primary"
        mat-flat-button>
        Aplicar
    </button>
</section>