#header {
    margin: 25px 15px;
    text-align: center;
    
    h3 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
        opacity: .5;
    }
}

#content {
    margin: 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;

    mat-form-field {
        flex: 1 0 250px;
    }
}

#footer {
    display: flex;
    margin: 25px 15px;
    justify-content: end;
    gap: 10px;

    button {
        width: 110px;
    }
}