<section id="visit-register-component">
    <section id="header">
        <h3>Nova Agenda</h3>
        <span>Dia: {{ date | date:"dd/MM/yyyy" }}</span>
    </section>
    
    <section id="content">
    
        <section *ngFor="let filter of filtersList">
            <label>{{ filter.type }}</label>
        
            <mat-chip-listbox>
                <mat-chip-option *ngFor="let value of filter.filters" [color]="filter.color">
                    {{ value }}
                    <button (click)="removeFilter(filter.filters, value)" matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
            </mat-chip-listbox>
        </section>
    
        <div>
            <div id="visit-list">
                <mat-table [dataSource]="doctors">
                    <ng-container matColumnDef="name">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>
                            Nome
                        </mat-header-cell>
                        <mat-cell (click)="check(doctor)" *matCellDef="let doctor" mat-cell>
                            <div class="name">
                                <label>{{ doctor.nickname }}</label>
                                <span>{{ doctor.name }}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="expertise">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>
                            Especialidade
                        </mat-header-cell>
                        <mat-cell (click)="check(visit)" *matCellDef="let visit" mat-cell>
                            <div class="expertise">
                                <img [src]="getIconFromExpertise(visit.expertise)" />
                                <span>{{ visit.expertise }}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="location">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>
                            Cidade
                        </mat-header-cell>
                        <mat-cell (click)="check(visit)" *matCellDef="let visit" mat-cell>
                            <div class="location">
                                <label>{{ visit.county }}</label>
                                <span>{{ visit.district }}</span>
                            </div>
                        </mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="options">
                        <mat-header-cell class="header-options" mat-header-cell *matHeaderCellDef>
                            <button (click)="openFilter()" mat-icon-button>
                                <mat-icon>filter_alt</mat-icon>
                            </button>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let visit" mat-cell>
                            <div class="options">
                                <mat-checkbox (click)="check(visit)" [checked]="visit.visited"></mat-checkbox>
                            </div>
                        </mat-cell>
                    </ng-container>
            
                    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="test" mat-ripple matRipple>
                    </mat-row>
            
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            Nenhum médico encontrado.
                        </td>
                    </tr>
                </mat-table>
            </div>
            <mat-paginator (page)="findDoctors($event)"
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </section>
    
    <section id="footer">
        <button [routerLink]="['/visitas']"
            mat-stroked-button>Voltar</button>
        <button (click)="save()"
            [disabled]="doctorsAdded.length == 0"
            color="primary"
            mat-flat-button>{{scheduleId ? 'Atualizar' : 'Salvar' }}</button>
    </section>
</section>