@import "/src/assets/styles/colors.scss";


mat-chip-option.mat-green {
    background-color: $green;
}

mat-chip-option.mat-cyan {
    background-color: $cyan;
}

mat-chip-option.mat-pink {
    background-color: $pink;
}

.icon {
    width: 25px;

    img {
        width: 100%;
    }
}

#visit-register-component {
    #filter {
        width: 100%;
        margin: 15px 0;
        
        section {
            margin-top: 10px;
        }
    
        mat-chip-option.mat-green {
            background-color: $green;
        }
    
        mat-chip-option.mat-cyan {
            background-color: $cyan;
        }
    
        mat-chip-option.mat-pink {
            background-color: $pink;
        }
    }
    
    #header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
        
        h3 {
            text-transform: uppercase;
            font-weight: bold;
            opacity: .5;
        }
    
        span {
            background: #424242;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 15px;
        }
    }
    
    #content {
        display: block;

        #visit-list {
            width: 100%;
    
            mat-table {
                margin-top: 10px;
                background: transparent;
    
                td {
                    border: none;
                }
        
                div {
                    display: flex;
                    flex-direction: column;
    
                    span {
                        font-size: 10px;
                        color: #818181;
                    }
                }
    
                mat-header-row {
                    background-color: $blue-gray;
                    top: -10px !important;
                }
    
                mat-header-cell.header-options {
                    justify-content: flex-end;
                    padding: 0 0 0 40px;
                }
    
                .expertise {
                    flex-direction: row;
                    width: 25px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .options {
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
    }
    
    #footer {
        margin-top: 15px;
        display: flex;
        gap: 10px;
    
        button {
            flex: 1;
        }
    }
}
