<mat-nav-list>
    <div (click)="openWaze()"
        class="option"
        matRipple>
        <img src="assets/icons/waze.png" class="btn-icon">
        Waze
    </div>

    <div (click)="openGmaps()"
        class="option"
        matRipple>
        <img src="assets/icons/gmaps.png" class="btn-icon">
        Google Maps
    </div>
</mat-nav-list>