mat-nav-list {
    .option {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 5px 10px;

        img.btn-icon {
            width: 45px;
        }
    }
}